site_name: Shiftpedia
site_url: https://betapop.github.io/shiftpedia/

extra_css:
  - stylesheets/extra.css

theme:
  name: material
  custom_dir: shiftpedia/overrides
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.footer
    - content.tooltips

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
      primary: custom
      accent: orange

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
      primary: custom
      accent: orange

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to system preference
      primary: custom

markdown_extensions:
  - abbr
  - pymdownx.snippets
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.blocks.caption
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

  - pymdownx.tasklist:
      custom_checkbox: true

plugins:
  - glightbox
  - blog
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/betapop/shiftpedia

copyright: Copyright &copy; 2026 Made by Betapop
