:root>* {
    --md-primary-fg-color: #ffb84f;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #18181a;
    --md-accent-fg-color: #ffb84f;
}

.md-nav__item .md-nav__link--active,
.md-nav__item .md-nav__link--active code {
    color: var(--md-accent-fg-color)
}

.md-typeset a {
    color: var(--md-accent-fg-color);
    word-break: break-word
}

.md-meta__link {
    color: var(--md-accent-fg-color)
}

.md-typeset .md-button {
    color: var(--md-accent-fg-color);
}